<div class="section">
    <div class="container tim-container">
        <div class="tim-title">
            <h2>Extra projects</h2>
            <br/>
        </div>
        <div id="typography">
            <div class="row">
                <div class="typography-line">
                    <blockquote class="blockquote">
                        <h6>
                            <small>
                                Strategic Program to Induce Human Resources Training in Engineering and Information Technology in Amazonas.
                            </small>
                        </h6>
                        <span></span>
                        <p class="mb-0">
                            The tutors aim to assist each one on average 10 high school students in strategic subjects, such as: mathematics, physics, chemistry, engineering and computing. Experiments will be selected, in which the tutors will work together with the teachers on projects that motivate the area of ​​engineering and IT.
                        </p>
                    </blockquote>
                </div>

                <div class="typography-line">
                    <blockquote class="blockquote">
                        <h6>
                            <small>
                                Systems for Behavioral Assessment and Intelligent Recommendation in Educational and Remote Health Environments.
                            </small>
                        </h6>
                        <span></span>
                        <p class="mb-0">
                            Study and implementation of techniques for collecting, disambiguating and matching schemes for learning objects, in addition to preparing technical reports, carrying out experiments, general project documentation and helping to write the final report. The contribution was in the study of techniques to reduce the redundancy of data, educational objects, so that the content collected was more refined.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
        <br/>
    </div>
</div>
